<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Analyse</title>
</head>

<body>
    <header>
        <h1>Sentiment analysis</h1>
    </header>

    <div id="container">

        <div id="input-section">
            <h3>Enter an article or a blog URL</h3>
            <input id="txt-area" autofocus placeholder="Enter the URL"></input>
            <div id="button">
                <p>Analyse</p>
            </div>
        </div>

        <div id="result-section" class="hidden">
            <h2>Results</h2>

            <div class="result-container">
                <p>
                    Score Tag &nbsp;&nbsp;&nbsp;: <span class="values" id="score-tag"> </span>
                </p>

                <p>
                    Agreement &nbsp;&nbsp;&nbsp;: <span class="values" id="agreement"> </span>
                </p>

                <P>
                    Subjectivity : <span class="values" id="subjectivity"></span>
                </P>

                <p>
                    Confidence &nbsp;&nbsp;: <span class="values" id="confidence"></span>
                </p>

                <p>
                    Irony &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span class="values" id="irony"></span>
                </p>
            </div>
        </div>

        <!-- TODO : Remove hidden class -->
        <div id="intro-section" class="hidden">
            <h1>
                What is Sentiment analysis?
            </h1>
            <p>
                Sentiment analysis (or opinion mining) is a natural language processing technique used to determine whether data is positive, negative or neutral. Sentiment analysis is often performed on textual data to help businesses monitor brand and product sentiment in customer feedback, and understand customer needs.
            </p>
        </div>

        <div id="user-error"  class="error hidden">
            <img src="../imgs/LayingDoodle.svg">
            <p>Ops! Something is wrong with your input, make sure it’s a valid URL</p>
        </div>

        <div id="server-error" class="error hidden">
            <img src="../imgs/ReadingDoodle.svg">
            <P>Ops! that’s an error form our side, Try again later </P>
        </div>

    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError);
                });
            });
        }
    </script>
</body>

</html>