#input-section
        margin-top: 7rem

        #txt-area
                width: 100%
                height: fit-content
                border: 1px solid black
                border-radius: 30px
                resize: none
                padding: 10px
                margin-top: 1rem




        #button
                background-color: #132C33
                color: white
                width: fit-content
                margin: 2rem auto
                border-radius: 20px
                cursor: pointer

                &:hover
                        background-color: #000000

                p
                        padding: 15px 60px

// Dynamic classes add to DOM by js
.loading
        background-color: #000000 !important
        cursor: wait !important

.error
        border-color: #aa0101 !important