#result-section
        background-color: #D8E3E7
        height: 18rem
        text-align: center
        padding-top: 30px
        border-radius: 10px

        .result-container
                width: fit-content
                margin: 20px auto
                text-align: start

                p
                        margin-bottom: 5px


.hidden
        display: none
